<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La solución integral óptima para tu empresa  de servicios en un solo lugar.">
    <meta name="author" content="Extraredes">
    <title>Página no encontrada | Servinarium</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo-icon.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
  </head>
  <style media="screen">
  .page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
  }

  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 550px;
    background-position: center;
  }

  .four_zero_four_bg h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #2168f7;
    margin: 20px 0;
    display: inline-block;
  }

  .contant_box_404 {
    margin-top: -50px;
  }
  </style>
  <body>

  <section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
              <h1 class="text-center ">404</h1>
            </div>
            <div class="contant_box_404">
              <h3 class="h2">
                Error 404
              </h3>
              <p>No se encuentra la página</p>
              <a href="https:www.primicias.ec" class="link_404">Ir a la página principal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
